<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm"> <!--#<nombre>: template variable, ngForm: instruccion, en donde podemos usar la variable para usarla en alguna especie de validacion-->
  <div class="input-group">
    <label for="">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="">Contraseña</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensaje de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>
<hr>

<h1>Property [Binding]</h1>
<!-- Puedo controlar ele stado del buton desde la logica de mi componente -->
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="image" />
<hr />

<h1>Event (Binding)</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum distinctio
    culpa unde magnam, tempore dolores sequi magni velit ab, quod, excepturi
    reprehenderit nobis voluptate labore maxime ex ipsa! Adipisci, iste.
  </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr />

<h1>Data [(Binding)] con NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input
  type="number"
  max="30"
  min="18"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>
<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<input type="number" required [(ngModel)]="person.age" />
<p *ngIf="person.name === 'ivan'">Soy Ivan</p>
<p *ngIf="person.name === 'julian' && person.age === 18; else elseBlock">
  Soy Julian
</p>
<!-- Agrego un template para ejecutar el bloque mediante un else
a traves del #<nombre> -->
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <p *ngIf="names.length === 0">No hay nombres</p>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr />

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr />

<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<!-- Tenemos 3 ngIf que condicionan al parrafo respecto
a lo que se ingresa en el input, es muy engorroso
por eso en este tipo de casos conviene usa en Switch -->
<!-- <p *ngIf="person.name === 'ivan'">
  La persona es Ivan
</p>

<p *ngIf="person.name === 'julian'">
  La persona es Julian
</p>

<p *ngIf="person.name === 'camilo'">
  La persona es Camilo
</p> -->

<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'ivan'">La persona es Ivan</p>

  <p *ngSwitchCase="'julian'">La persona es Julian</p>

  <p *ngSwitchCase="'camilo'">La persona es Camilo</p>
  <p *ngSwitchDefault>No hace match con ninguno</p>
</div>
<hr />

<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label for="">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="image" />
  </div>
</div>
<hr />

<h1>ngClass & ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>
<hr />

<h1>Hola Mundo!</h1>
<h2>{{ "Hola Mundo!".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ img }}" alt="image" />
